<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @reservation.user_id %>
</p>

<p>
  <strong>Date in:</strong>
  <%= @reservation.date_in %>
</p>

<p>
  <strong>Date out:</strong>
  <%= @reservation.date_out %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
