<p id="notice"><%= notice %></p>

<p>
  <strong>Num:</strong>
  <%= @room.num %>
</p>

<p>
  <strong>Rooms count:</strong>
  <%= @room.rooms_count %>
</p>

<p>
  <strong>Price:</strong>
  <%= @room.price %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
